imports:
    - tests/Behat/Resources/config/suites.yaml

default:
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    extensions:
        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~
        Robertfausk\Behat\PantherExtension: ~

        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            selenium2: ~
            base_url: "http://app/"
            javascript_session: chromedriver
            sessions:
                chromedriver:
                    chrome:
                        api_url: http://chrome:9222
                        validate_certificate: false
            show_auto: false

        FriendsOfBehat\SymfonyExtension: ~

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"

        SyliusLabs\SuiteTagsExtension: ~

    gherkin:
        filters:
            tags: "~@todo&&~@cli" # CLI is excluded as it registers an error handler that mutes fatal errors
