<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="KERNEL_CLASS_PATH" value="/src/Kernel.php" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="test"/>
        <env name="JWT_SECRET_KEY" value="s$cretf0rt3st"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public-test.pem"/>
        <env name="JWT_PASSPHRASE" value="ALL_THAT_IS_GOLD_DOES_NOT_GLITTER_NOT_ALL_THOSE_WHO_WANDER_ARE_LOST"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>tests/Api</directory>
        </testsuite>
    </testsuites>
    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Migrations</directory>
            <file>src/Cli/TestCommand.php</file>
            <file>src/Kernel.php</file>
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
    </coverage>
</phpunit>
